#skipTyping {
  align-items: center;
  animation: skipTyping 3s infinite;
  background-color: white;
  border-radius: 50%;
  bottom: 50px;
  box-shadow: 0 0px 30px 5px white;
  color: white;
  display: flex;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 25px;
  justify-content: center;
  position: fixed;
  transition: color 500ms, background-color 500ms;
}
#skipTyping:hover {
  background-color: #99ff33;
  color: #99ff33;
}

@keyframes skipTyping {
  0% {
    box-shadow: 0 0 20px 10px;
  }

  50% {
    box-shadow: 0 0 5px 2px;
  }

  100% {
    box-shadow: 0 0 20px 10px;
  }
}
