.links {
  align-items: center;
  display: flex;
  justify-content: center;
}
.links > * {
  align-items: center;
  display: flex;
  font-size: 48px;
  justify-content: center;
  padding: 10px;
}

.topBar {
  background-color: black;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 75px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
